<!DOCTYPE html>
<html>
<head>
  <title>Euphexya Tuts - Home of Knowledge</title>
 
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,300italic,400,400italic,600,600italic,700,700italic' 
    rel='stylesheet' type='text/css'>

    <link rel="icon" href="assets/fav.ico" type="image/x-icon" />
  <%= stylesheet_link_tag    "application", media: "all" , "data-turbolinks-track" => true  %>  <!---->
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>" class="<%= action_name %>">

<div class="pallet clearfix">
	<div id="accepted"></div>
	<div id="standard"></div>
	<div id="primary"></div>
	<div id="warning"></div>
	<div id="error"></div>
</div>



<header class="mainhead clearfix">
	<div class="logo">
		<h1><a href="http://localhost:3000/" data-no-turbolink="true">Euphexya</a></h1>
		<span>| Home of Knowledge | - Living to <b>T</b>each. Living to <b>L</b>earn.</span>
	</div>
	<nav class="clearfix">
		<a href="#">Who We Are</a>
		<a href="#">Tutorials</a>
		<%= link_to 'Blog', controller: 'articles' %>
		<a href="#">u-Teach</a>
	</nav>
</header>

<div class="body">
	<%= yield %>
</div>

<footer>

<!-- Social Network Logos -->

<!-- Seperator -->

<!-- Partners (LOL) -->

<!-- Seperator -->

<p class="bottom-para clear-fix">
	| Web Design :: Édi Cabral Coutinho Costa | <br/>
	| Typography and Logos :: Bruno Eduardo Beirão Mexia | <br/>
	| Programming :: Édi Cabral Coutinho Costa, Bruno Eduardo Beirão Mexia |

	<span class="right-span">© <%= DateTime.now.to_date %> | Euphexya, All Rights Reserved :: </span>
</p>

</footer>







<%= javascript_include_tag "application" , "data-turbolinks-track" => true  %> <!-- , "data-turbolinks-track" => true  -->
</body>
</html>
